{% extends 'base.html'%}

{% block content %}

{% if user.is_authenticated %}
<div class="row">
    <div class="col-sm-12 text-center">
        <h2 class="img-title">{{ object.title }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <img class="detail-img img-fluid" src="{{ object.post_img.url }}" alt="">
    </div>
</div>
<div class="row mt-2">
    <div class="col"></div>
    <div class="mt-3 col-sm-3 text-center">
        <a class="btn btn-outline-danger" href="{% url 'gallery:delete' object.id%}">Delete</a>
    </div>
    <div class="mt-3 col-sm-3 text-center">
        <a class="btn btn-outline-primary" href="{% url 'gallery:edit' object.id%}">Edit</a>
    </div>
    <div class="col"></div>
</div>
{% else %}
<p>Please <a href="{% url 'gallery:login' %}">login</a> first</p>
{% endif %}

{% endblock %}