{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}

<div class="row">
    <div class="col"></div>
    <div class="col-sm-6">
        <img class="profile-img profile-img-large mb-3" src="{{ request.user.userprofile.profile_pic.url }}" alt="">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ profile_form|crispy }}
            {% for field in edit_form %}
                {% if field.name != 'password' %}
                    {{ field|as_crispy_field }}
                {% endif %}
            {% endfor %}
            {{ edit_form.password }}
            <p>{{ edit_form.password.help_text|safe }}</p>
            <input type="submit" name="" value="Change">
        </form>
    </div>
    <div class="col"></div>

</div>

{% else %}
<p>Please <a href="{% url 'gallery:login' %}">login</a> first</p>
{% endif %}

{% endblock %}