{% extends 'master.html' %}

{% block master_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 background"></div>
        <main class="col-lg-6">
            <div class="text-center">
                {% for image in queryset %}
                <a href="{{ image.post_img.url }}" class="d-block mb-5 h-100">
                    <img class="img-fluid border" src="{{ image.post_img.url }}" alt="">
                </a>
                {% endfor %}
            </div>
        </main>
        <div class="col-lg-3 background"></div>
    </div>
</div>
{% endblock %}