{% extends 'base.html'%}
{% block content %}
{% if user.is_authenticated %}
<div class="content">
    <div class="row">
        
            {% for queryset in querysets %}
            <div class="col-a col-sm-4">
            <div class="card card-aa">
                <div class="card-body">
                    <h3>{{ queryset.title }}</h3>
                    <a href="{% url 'gallery:detail' queryset.id %}"><img class="g-img" src="{{ queryset.post_img.url }}" alt=""></a>
                </div>
            </div>
            </div>
             {% endfor %}
        
    </div>
</div>
    
    



{% else %}
    <p>Please <a href="{% url 'gallery:login' %}">login</a> first</p>
    
{% endif %}
{% endblock %}