{% extends 'card.html'%}

{% block card_content %}

<h2>Login</h2>

<form method="POST" action="{% url 'gallery:login' %}">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" class="form-control" name="username" placeholder="Username">
    <br>
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
    <br>
    <input type="submit" name="" value="Log in">
    <br>

</form>
<p>Not registered? Click <a href="{% url 'gallery:register' %}">here</a> to register.</p>

{% endblock %}