{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center my-4">
        <div class="col-md-7">
            <div class="shadow p-3 mb-5 bg-white rounded" style="margin-top: 6rem">
                {% if registered %}
                <h2>Thank you for registering!</h2>
                <a href="{% url 'gallery:login' %}">Log in to your account</a>
                {% else %}
                <h2>Register</h2>
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    <input type="submit" name="" value="Register">
                </form>
                <p>If you already have an account, <a href="/login">log in </a> instead.
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}