@{
    ViewData["Title"] = "Table View";
}
<main class="container images">
    <div class="table-responsive">
        <table class="table table-sm text-center">
            <thead>
                <tr>
                    <th class="pr-5">Thumbnail</thclass="pr-5>
                    <th class="pr-5">Title</th>
                    <th class="pr-5">Created</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var image in Model.Images)
                {
                <tr>
                    <td class="pr-5">
                        <a href="@image.Url">
                            <img class="img-fluid" src="@image.Url" alt="">
                        </a>
                    </td>
                    <td class="pr-5">
                        <p>@image.Title</p>
                    </td>
                    <td class="pr-5">
                        <p>@image.Created</p>
                    </td>
                </tr>
                  }
            </tbody>
        </table>
    </div>
</main>