{% load static %}

{% if user.is_authenticated %}
    <nav class="navbar navbar-light bg-light d-block d-md-flex navbar-expand">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/logo.png' %}">
        </a>
        <form class="form-inline my-2 ml-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="search btn btn-outline-success mt-2 my-sm-0 mr-2" type="submit">Search</button>
        </form>
        <div class="dropdown">
            <button class="btn dropdown-toggle text-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="profile-img" src="{{ request.user.userprofile.profile_pic.url }}" alt=""></button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'gallery:logout' %}">Log out <i class="material-icons md-18 align-middle text-danger">exit_to_app</i></a>
                <a class="dropdown-item" href="{% url 'gallery:profile' %}">Profile</a>

            </div>
        </div>
    </nav>
    <div class="toolbar bg-dark sticky-top">
        <div class="container-fluid">
            <a href="{% url 'gallery:home' %}" class="float-left"><i class="material-icons md-light md-inactive md-36">list</i></a>
            <a href="#" class="float-left"><i class="material-icons md-light md-36">view_module</i></a>
            <a href="#" class="float-left"><i class="material-icons md-light md-inactive md-36">view_stream</i></a>
            <a href="{% url 'gallery:add_img' %}"><i class="image-upload float-right material-icons md-light md-inactive md-36"></i></a>
            <a href="#" class="float-right"><i class="material-icons md-light md-inactive md-36">fullscreen</i></a>
        </div>
    </div>

{% else %}
    <nav class="navbar navbar-light bg-light d-block d-md-flex navbar-expand justify-content-center">
        <a class="navbar-brand-large" href="#">
            <img src="{% static 'images/logo.png' %}">
        </a>
    </nav>
    <div class="divider"></div>
{% endif %}
