<header id="header-bg">

</header>
<section id="navigation">
    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'gallery:gallery' %}">Main page</a>

                    </li>

                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'gallery:logout' %}">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'gallery:home' %}">Home</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'gallery:add_img' %}">Add</a>
                        </li>
                        <li class="nav-item right">
                            <a class="nav-link" href="{% url 'gallery:profile' %}">{{ user.username }}</a>
                        </li>
                        
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'gallery:login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'gallery:register' %}">Register</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </nav>
    </div>
</section>