.card-aa{
    
    align-content: center;
    display: flex;
}
.g-img{
    width: 500px;
    height: auto;
    object-fit: contain;
}
.detail-img{
    width: 75%;
    height: auto;
}
.btn-left{
    position: left;
}

